{% extends "base.html" %}

{% block content %}
<br>
<br>
<div  style="float: left; width:45%; background-color: transparent;">
<br>
<br>
  <h5 class="subtitle" style="color: white">
    <img src="static/img/Steam.png" style="height: 60px; width: 60 px;" alt="">
    <br>
    <br>
    Steam es el mejor lugar para jugar, hablar sobre juegos y crearlos.
  </h5>
  <p  style="color: white; font-size: 13px;">
    🔵EN LÍNEAㅤㅤㅤㅤㅤㅤㅤ🟡JUGANDO
  </p>
  <p  style="color: white">
    ㅤ25,058,938ㅤㅤㅤㅤㅤㅤㅤㅤ6,215,988
  </p>
  <button type="button" class="btn btn-primary" href="https://cdn.cloudflare.steamstatic.com/client/installer/SteamSetup.exe">INSTALAR STEAM
    <img src="static/img/windows.png" style="height:20px; width: 20px;" alt="">
  </button>
  <img src="static/img/dato.png" style="height: 30px; width: 30 px;" alt="">
</div>

<div  style="float: right; background-color:transparent;">
  <img src="static/img/computadora2.png" style="height:400px; width: 510px;"  alt="">
</div>

{% endblock %}